.header {
    background: #189eff;
    padding-left: 50px;
    padding-right: 50px;
}
.header .icon-nvc {
    cursor: pointer;
}
.header .search input{
    height: 38px;
    border: 0;
    font-size: 13px;
    -webkit-box-flex: 1;
    border-radius: 3px;
    outline: 0;
    text-overflow: ellipsis;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.header .search button {
    border-top-left-radius: 0;
    margin-left: -20px;
    border-top-right-radius: 16px;
    width: 120px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
}
.header .item-header {
    width: 80px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 14px;
    cursor: pointer;
}
.header .item-header:hover {
    color: gainsboro;
}
.cursor {
    cursor: pointer;
}
.header .header-cart {
    border: 2px solid #fff;
    padding: 8px 11px 8px 8px;
    border-radius: 4px;
    margin-left: 0;
    letter-spacing: .7px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    color: white;
}
.header .header-cart:hover {
    color: gainsboro;
}
.header .cart-count {
    color: #4a4a4a;
    background: #fdd835;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    font-size: 12px;
    padding: 0 6px;
    font-weight: 700;
}
.header .shopping-cart {
    color: white;
    font-size: 21px;
    /* left: 6px; */
    float: left;
}
.header .menuIcon {
    color: white;
}
.header .tex-login-account {
    font-weight: 400;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: white;
}
.header .tab-menu-2-header {
    margin-top: 5px;
}
.header .text-menu-2-header {
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 14px;
    cursor: pointer;
}
.header .text-menu-2-header:hover{
    color: gainsboro;
}
