.padding-40-top-0 {
    padding: 0 40px 40px 40px;
}

.title-index-page {
    color: #ff3d00;
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.text-index-page {
    font-size: 13px;
    margin-top: 3px;
    color: #4a4a4a;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.icon-deal {
    width: 200px;
    overflow: hidden;
}
.product-new {
    margin: 0 40px 40px 40px;

}
.border-deal-product-new {
}
.border-right{
    border-left: 1px solid #f4f4f4;
}
.height-menu-category {
    height: 50px;
    font-size: 13px;
    font-weight: 400;
    color: #4a4a4a;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.branch-care {
    padding-left: 24px;
    font-size: 13px;
    font-weight: bold;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #333;
}
