* {
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.jss140:hover{
    text-decoration: none !important;
    background-color: #189eff !important;
}

.main-view{
	background: white;
	margin: 20px 40px 20px 40px;
}

.main-navigation{
	margin: 5px 0 0 10px;
}

.padding-0{
	padding: 0 !important;
}

.padding-10{
	padding: 10px !important;
}

.padding-bottom-0{
	padding-bottom: 0 !important;
}

.padding-top-0{
	padding-top: 0 !important;
}

.margin-top-15{
	margin-top: 15px !important;
}

.nav-padding{
	padding: 10px 0 10px 0;
	position: relative;
}

.padding-left-15{
	padding-left: 15px;
}

.max-width{
	width: 100%;
}

.nav-item-hover{
	background-color: #4badf5;
	color: white;
}

.menu-hover{
	background-color: #4badf5;
	color: white;
}

.nav-item{
	width: 100%;
	cursor: pointer;
	padding-left: 15px;
}

.margin-left-10{
	margin-left: 10px;
}

.nav-list-box{
	position:absolute; 
	top: 200px;
	left: 0;
	width: 300px;
	height: 300px;
	background-color: yellow;
}

.main-ads{
	height: 515px;
	padding-right: 40px !important;
}

.display-none{
	display: none;
}

.display-block{
	display: block;
}

#subMenuBox{
	display: none;
	position: absolute;

}

.submenu-column{
	padding: 10px 10px 10px 15px;
	align-items: left !important;
}

.header-submenu{
	font-weight: bold;
	font-size: 15px;
}

.wrap-main-box{
	padding: 0 !important;
	min-height: 515px !important;
}

.submenu-item{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.submenu-item a{
	text-decoration: none;
    color: #444;
    font-size: 13px;
    letter-spacing: .1px;
    font-weight: 400;
    line-height: 25px;
}

.submenu-item a:hover,
.header-submenu:hover{
	color: #007ff0;
    text-decoration: none;
}

.submenu-text{
	font-family: Roboto,Helvetica,Arial,sans-serif;
}

.menu-title{
	font-size: 15px;
    letter-spacing: 0;
    font-weight: 400;
    color: #444;
    line-height: 25px;
}

.nav-item-hover .menu-title,
.nav-item-hover .menu-icon{
	color: white;
}

.menu-icon{
	color: #444;
	font-size: 15px
}

.ads-box{
	padding-left: 16px !important;
    padding-top: 13px !important;
}
.margin-top-8 {
	margin-top: 8px !important;
}
.margin-left-16 {
	margin-left: -16px !important;
}
.padding-top-4 {
	padding-top: 4px !important;
}
.padding-right-15 {
	padding-right: 15px !important;
}
